name: create-new-dockerfile

on:
  workflow_dispatch:
    inputs:
      version:
        required: true

jobs:
  create-new-dockerfile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Create new dockerfile and push branch
        env:
          DOWNLOAD_URL: ${{ secrets.DOWNLOAD_URL }}
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          ./tools/update-docker-image.bash ${{ inputs.version }}
